.bg-fade{
    float: left;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../images/loading.png!bw340);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000000;
    opacity: 60%; /*độ trong suốt*/
    display: none; /*Ẩn*/
}